doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap")
    body
        .container
            header
                .logo
                nav 
                    ul
                        li
                            a(href="#") Our Plan
                        li
                            a(href="#") Employers    
                        li
                            a(href="#") Brokers
                        li
                            a(href="#") Members
                        li
                            a(href="#") About
                        li
                            a(href="#") Blog
                button.b1 Request a demo
                .l 
                    a(href="#") Login
                        img(class="vector-img" src="./Vector.png", alt="")
                    a(href="#") EN
            .main
                .title 
                    h1.main-title Give your team peace of mind with supplemental health insurance from Brella.
                    p.title-info I'm wondering...
                    .find-box 
                        p how Brella's plan works
                        button.button-find Find out
            .small-main 
                .small-main-p
                    .first-smallm
                        p.first-s-text WHY BRELLA?
                        h1.small-main-h1 Today, any health insurance deductible can feel like a high deductible.
                        p.second-s-text Brella's supplemental health plan enhances your health benefit strategy to ensure that health hardships don't become financial burdens.
                        p.third-s-text See our plan
                    .second-smallm


            .main1 
                .first-box
                    p.first-text BRELLA BRINGS
                    .simple-text-box 
                        h1.main1-simple Customizable benefits
                            img(class="arrow-img" src="./arrow.png", alt="")
                        p.simple-info Paperless install and admin
                        p.simple-info Effortless enrollment
                        p.simple-info Easy claims experience
                        p.simple-info Fast benefit payouts
                        p.simple-info Concierge support
                .second-box
                    .sec-simple-text-box 
                        p.simple-info1 Every Brella plan comes with a benefit for Moderate, Severe, and Catastrophic conditions. Employees can select the payout amounts that fit their needs and their budget.
                        p.simple-info1 Employers can fund part or all of the premiums—or offer Brella as a voluntary benefit. The choice is up to you.
            
            .huge-main
                .first-huge 
                    .first-of 
                        .huge-text 
                            p.first-h-text one plan, more coverage
                            h1.huge-main-h1 No one can predict which health issues might come their way.
                            p.second-h-text Our broad supplemental coverage gets rid of the guesswork and puts cash in your team’s pockets for most conditions that require urgent medical attention.
                        img(class="3-people-img" src="3-people-img.png", alt="")
                    .second-of
                        .second-of-boxes 
                            h1.second-of-text 5K
                            p.second-of-text-p covered injuries and illnesses from fractures and appendicitis to cancer
                        .second-of-boxes 
                            h1.second-of-text 1X
                            p.second-of-text-p more covered conditions than Accident and Critical Illness plans—combined
                        .second-of-boxes 
                            h1.second-of-text 40%
                            p.second-of-text-p plans are 100% guaranteed issue. No medical underwriting required
                        .second-of-boxes 
                            h1.second-of-text 0
                            p.second-of-text-p Zero limitations or exclusions for pre-existing conditions
                .second-huge
                    img(class="phone-img" src="phone.png", alt="")
                    .second-huge-boxes 
                        p.first-h-boxes-text a better claims experience
                        h1.first-h-boxes-text-h1 Give your people a plan that pays in hours—not weeks.
                        p.second-h-boxes-text Your team can’t wait for peace of mind. Brella pays on diagnosis, so members can file a claim sooner and get paid faster via our Member Portal or mobile app.
                        p.third-h-boses-text Play Video
            .just-main 
                .just-text-box 
                    p.just-p1 for employers
                    h1.just-h1 Easy enrollment meets simple administration.
                    p.just-p2 Brella brings 100% paperless implementation, enrollment, and admin. Plug into our platforms or we’ll plug into yours.
                    p.just-last Learn more
