doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap")
    body
        .container
            header
                .logo
                nav 
                    ul
                        li
                            a(href="#") Our Plan
                        li
                            a(href="#") Employers    
                        li
                            a(href="#") Brokers
                        li
                            a(href="#") Members
                        li
                            a(href="#") About
                        li
                            a(href="#") Blog
                button.b1 Request a demo
                .l 
                    a(href="#") Login 
                    a(href="#") EN
            .main